[Unit]
Description=Backend API Service
After=yarn.service
[Service]

#This file should be available in /etc/systemd/system

Type=simple
User=root
WorkingDirectory=/opt/kepler/kepler-backend/
Environment="PATH=/root/.pyenv/bin:/root/.pyenv/shims:/usr/local/bin:/usr/bin:/bin"
ExecStart=pipenv run python app/main.py
ExecReload=/bin/kill -HUP ${MAINPID}
Restart=on-failure
RestartSec=40

[Install]
WantedBy=multi-user.target