[Unit]
Description=Frontend API Service
After=backend.service
[Service]

#This file should be available in /etc/systemd/system

Type=simple
User=root
WorkingDirectory=/opt/kepler/kepler-frontend/
Environment="PATH=/root/.pyenv/bin:/root/.pyenv/shims:/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/bin/npm start
ExecReload=/bin/kill -HUP ${MAINPID}
Restart=on-failure
RestartSec=40

[Install]
WantedBy=multi-user.target