[Unit]
Description=Kepler Hadoop Namenode
After=network.target

[Service]
# The service type is set to simple, which means it will run in the foreground.
Type=simple

# The service will run under the root user.
User=root

# The working directory for the service is set to the root directory (/).
WorkingDirectory=/home/hadoop

# The command to start the Hadoop Namenode.
ExecStart=/opt/hadoop/bin/hdfs namenode

# The command to reload the service if needed.
ExecReload=/bin/kill -HUP ${MAINPID}

# Restart the service if it fails. 
Restart=on-failure

# Wait 10 seconds before restarting the service after failure.
RestartSec=10

[Install]
# The target multi-user.target means the service will start during system boot when multi-user mode is enabled.
WantedBy=multi-user.target