[Unit]
Description=Hadoop NameNode and ResourceManager
After=network.target


[Service]
Type=simple
User=hadoop
Group=hadoop
Environment="HADOOP_HOME=/opt/hadoop"
Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
ExecStart=/opt/hadoop/bin/hdfs namenode 
ExecStartPost=/opt/hadoop/bin/yarn resourcemanager 
ExecReload=/bin/kill -HUP ${MAINPID}
Restart=on-failure

# Wait 10 seconds before restarting the service after failure.
RestartSec=10
[Install]
WantedBy=multi-user.target